<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testConfigurationSection" type="Affecto.Testing.Configuration.Tests.TestConfigurationSection, Affecto.Testing.Configuration.Tests" />
  </configSections>

  <testConfigurationSection requiredStringProperty="value" />

</configuration>